<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sl.dao.BorrowDao">
    <select id="getBookBorrow" resultType="com.sl.entity.Borrow">
SELECT * FROM borrow WHERE id=#{id}
    </select>
    <select id="getUserBorrow" resultType="com.sl.entity.Borrow">
SELECT * FROM borrow WHERE userId=#{id}
    </select>
</mapper>